<body id="body">
    <!-- loader -->
    <div class="loader ">
        <div class="loader-item">
            <div class="loader-icon">
                <!--  -->
            </div>
        </div>
    </div>



    <div class="animate-bottom">

        <main class="container">

            <div class="tv_background">
                <img src="~/costumer/src/assets/image/all-in-one-ecommerce-solution-featured-image.jpg" alt="image">
                <div class="entertainment_system">
                    <img src="~/costumer/src/assets/image/electronic-store-brand-logo-00.png" alt="image">
                    <h2>The best home entertainment system is here</h2>
                    <p>Sit diam odio eget rhoncus volutpat est nibh velit posuere egestas.</p>
                    <button class="btn btn-outline-primary">Shop</button>
                </div>
                <div class="services">
                    <ul class="services_ul">
                        <li class="service">
                            <div class="service_items">
                                <i class="fa-solid fa-truck"></i>
                                <div class="textofService">
                                    <h5>
                                        Free shipping
                                    </h5>
                                    <p>
                                        When you spend $80 or more
                                    </p>
                                </div>

                            </div>

                        </li>
                        <li class="service">
                            <div class="service_items">
                                <i class="fa-solid fa-comment"></i>

                                <div class="textofService">
                                    <h5>
                                        We are available 24/7
                                    </h5>
                                    <p>
                                        Need help? contact us anytime
                                    </p>
                                </div>
                            </div>
                        </li>

                        </li>
                        <li class="service">
                            <div class="service_items">
                                <i class="fa-solid fa-rotate-right"></i>
                                <div class="textofService">
                                    <h5>

                                        Satisfied or return
                                    </h5>
                                    <p>
                                        Easy 30-day return policy
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="service">
                            <div class="service_items">
                                <i class="fa-regular fa-credit-card"></i>
                                <div class="textofService">
                                    <h5>
                                        100% secure payments
                                    </h5>
                                    <p>
                                        Visa, Mastercard, Stripe, PayPal
                                    </p>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="container containerBorder">
                <div class="productsBox" id="productsBox">
                    <!-- from js -->
                </div>


            </div>

            <div class="containerSaleAndCase">
                <div class="saleAndCase">
                    <img src="~/costumer/src/assets/image/electronic-store-promotional-banner-2.jpg" alt="image">
                    <img src="~/costumer/src/assets/image/electronic-store-promotional-banner-1.jpg" alt="image">
                </div>
            </div>

            <div class="bestDeal">
                <div class="container  containerBorder">

                    <div class="cards mt-3">

                        <!-- from js -->
                    </div>

                </div>

            </div>

            <div class="topBrands">
                <h4>Top Brands</h4>
                <div class="brands">
                    <ul class="brandList owl-carousel owl-theme">
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo1.jpg" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo5.jpg" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo4.jpg" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo3.jpg" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo6_1.jpg" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo0.jpg" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/br.png" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo7.png" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo8.png" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo9.jpeg" alt="image"></li>
                        <li class="brand-item"><img src="~/costumer/src/assets/image/brand-logo10.png" alt="image"></li>
                    </ul>
                </div>
            </div>

            <div class="topBrands">
                <h4>What everyone is saying?</h4>
                <div class="">
                    <div class="users">
                        <div class="user">
                            <span>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                            </span>
                            <div class="user_comment">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto facilis, esse ad
                                    veniam
                                    velit perspiciatis sunt adipisci praesentium accusantium maiores.
                                </p>
                            </div>
                            <div class="userInfo">
                                <img src="~/costumer/src/assets/image/penelopcruz.jpeg" alt="image">
                                <h5> Penelope Cruz</h5>
                            </div>
                        </div>
                        <div class="user">
                            <span>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                            </span>
                            <div class="user_comment">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto facilis, esse ad
                                    veniam
                                    velit perspiciatis sunt adipisci praesentium accusantium maiores.
                                </p>
                            </div>
                            <div class="userInfo">
                                <img src="~/costumer/src/assets/image/chrisevans.jpeg" alt="image">
                                <h5>Chris Evans</h5>
                            </div>
                        </div>
                        <div class="user">
                            <span>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                            </span>
                            <div class="user_comment">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto facilis, esse ad
                                    veniam
                                    velit perspiciatis sunt adipisci praesentium accusantium maiores.
                                </p>
                            </div>
                            <div class="userInfo">
                                <img src="~/costumer/src/assets/image/anadearmas1.jpg" alt="image">
                                <h5> Ana de Armas</h5>
                            </div>
                        </div>

                        <div class="user">
                            <span>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                            </span>
                            <div class="user_comment">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto facilis, esse ad
                                    veniam
                                    velit perspiciatis sunt adipisci praesentium accusantium maiores.
                                </p>
                            </div>
                            <div class="userInfo">
                                <img src="~/costumer/src/assets/image/scarletjohannson.jpeg" alt="image">
                                <h5>Scarlet Johannson</h5>
                            </div>
                        </div>
                        <div class="user">
                            <span>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                            </span>
                            <div class="user_comment">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto facilis, esse ad
                                    veniam
                                    velit perspiciatis sunt adipisci praesentium accusantium maiores.
                                </p>
                            </div>
                            <div class="userInfo">
                                <img src="~/costumer/src/assets/image/willsmith.jpg" alt="image">
                                <h5>Will Smith</h5>
                            </div>
                        </div>
                        <div class="user">
                            <span>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                                <i class="fa-solid fa-star fa-2xs" style="color: #ff7b00;"></i>
                            </span>
                            <div class="user_comment">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto facilis, esse ad
                                    veniam
                                    velit perspiciatis sunt adipisci praesentium accusantium maiores.
                                </p>
                            </div>
                            <div class="userInfo">
                                <img src="~/costumer/src/assets/image/elizabtholsen.jpeg" alt="image">
                                <h5>Elizabeth Olsen</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>




        <script src="~/costumer/src/assets/js/user.js"></script>
        <script src="~/costumer/src/assets/js/user_data.js"></script>
        <script src="~/costumer/src/assets/js/productsList.js"></script>
        <script src="~/costumer/src/assets/js/categoriesList.js"></script>
        <script src="~/costumer/src/assets/js/headerMenuLinks.js"></script>
        <script src="~/costumer/src/assets/js/product.js"></script>
        <script src="~/costumer/src/assets/js/categoriesAndProducts.js"></script>
        <script src="~/costumer/src/assets/js/script.js"></script>
        <!-- owl-carousel -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/costumer/src/assets/js/owl-carousel.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
                integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/costumer/src/assets/js/owl-carousel.js"></script>
        <!-- alertify -->
        <script src="/node_modules/alertifyjs/build/alertify.min.js"></script>
    </div>


    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="381ba3a844af41958d7096989d8f7c94" data-requestMappingFromServer="false" data-connectUrl="http://localhost:52783/ca67f8677c6449cb85a50a9cfe72effd/browserLink"></script>
    <!-- End Browser Link -->

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>